<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/morador" routerLinkActive="router-link-active" >Moradores-Visitantes</a>
        <a class="nav-item nav-link" routerLink="/veiculos" routerLinkActive="router-link-active" >Veículos</a>
        <a class="nav-item nav-link" routerLink="/recados" routerLinkActive="router-link-active" >Recados</a>
        <a class="nav-item nav-link" routerLink="/eventos" routerLinkActive="router-link-active" >Eventos</a>
        <a class="nav-item nav-link" routerLink="/ocorrencias" routerLinkActive="router-link-active" >Ocorrências</a>

        <a class="nav-item nav-link" routerLink="/relatorios" routerLinkActive="router-link-active" *ngIf="isAdmin">Relatorios</a>
        <a class="nav-item nav-link" routerLink="/sobre" routerLinkActive="router-link-active" >Sobre</a>
        <a class="nav-item nav-link" routerLink="/ajuda" routerLinkActive="router-link-active" >Ajuda</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    
    
    
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">

    <p>
        rodapé
    </p>
</div>